# Next.js
.next/
node_modules/
out/

# Virtual environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.env.local

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Misc
*.pem
.vercel
